@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

html {
  font-family: sans-serif;
  line-height: 1.2;
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

body {
  margin: 0;
  padding: 0;
  font-family: "Rubik", serif;
  font-weight: normal;
  line-height: 1.2;
  color: #2F314D !important;
  background-color: #F8F4EE;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
  color: #2F314D;
}

button.navbar-toggler {
  padding: 0.25rem;
  border: 0;
}

button.navbar-toggler i.bi {
  color: #FF9859;
  font-size: 2rem;
  -webkit-text-stroke-width: 1px;
}

.app-status {
  position: relative;
  top: -1rem;
  font-size: 0.8rem;
}

.navbar-nav .nav-item {
  text-align: center;
  padding: 0.5rem 0;
}

.text-red {
  color: #EA5C4F;
}

.text-orange {
  color: #FF9859;
}

.rotate180 {
  transform: rotate(180deg);
  margin-top: 0.1rem;
}

.navbar {
  background-color: #2F314D;
  color: #FAFAFA;
}

.navbar-brand {
  font-size: 1.5rem;
  font-weight: bold;
}

header {
  background-color: #EECBB2;
  border-bottom-left-radius: 2rem;
  border-bottom-right-radius: 2rem;
}

.title-panel {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  padding: 1rem 5rem;
  border-radius: 1.2rem;
  font-size: 1.4rem;
  background-color: #EECBB3;
}

.title-panel.attention {
  background-color: #FECE85;
}

.title-panel .bi {
  font-size: 2rem;
  margin-right: 0.5rem;
}

.status-panel {
  width: 100%;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  position: relative;
  padding: 1rem 1.8rem;
  border-radius: 1.2rem;
  font-size: 1.4rem;
  background-color: #F4F0EC;
  margin: 0 auto;
  box-shadow: 0 0.6rem 0 0 #ACACAC;
  z-index: 2;
}

.status-indicator {
  width: 22px;
  height: 22px;
  border-radius: 50%;
  display: inline-block;
  margin-right: 8px;
}

.status-on {
  background-color: #92BA79;
  border: 2px solid #729B58;
}

.status-off {
  background-color: #E95C50;
  border: 2px solid #D83B2E;
}

.status-unknown {
  background-color: #FECE85;
  border: 2px solid #FFB646;
}

.station-container {
  position: relative;
  height: 8rem;
  padding: 20px 0;
}

.station-marker {
  width: 30px;
  height: 30px;
  min-width: 30px;
  min-height: 30px;
  border-radius: 50%;
  background-color: #FAFAFA;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #FF9966;
  border: 5px solid #F96;
  position: relative;
  z-index: 2;
}

.station-connector {
  position: absolute;
  left: 10px;
  top: 45px;
  width: 2px;
  height: calc(100% - 21px);
  border-left: 10px dotted #ccc;
  z-index: 1;
}

.bus-icon {
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  color: #92BA79;
  font-size: 2rem;
  margin: 10px 0;
  position: relative;
}

.bus-icon .bi-chevron-double-down {
  margin-left: 0.8rem;
}

.bus-number {
  position: absolute;
  top: -8px;
  right: -4px;
  background: #2F314D;
  color: white;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  font-size: 1rem;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
}

.animated-hover {
  animation-name: moving-3s;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
}

@keyframes moving-3s {
  0% {
    transform: translate(0, 0px);
  }

  50% {
    transform: translate(0, -10px);
  }

  100% {
    transform: translate(0, 0px);
  }
}

.timetable-divider {
  border-left: 3px solid #CCCCCC;
}

.horizontal-divider {
  border-bottom: 3px solid #CCCCCC;
}

.journey-time {
  font-size: 2.5rem;
  font-weight: bold;
}

.service-times {
  display: grid;
  grid-template-columns: auto auto;
  gap: 10px;
}

.last-bus-times {
  display: grid;
  grid-template-columns: auto auto;
  gap: 10px;
}

.require-attention {
  color: #E95C50;
}

.bg-footer {
  height: 35rem;
  background-image: url('../imgs/bg_footer_m.png');
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: bottom;
}

.img-bee {
  width: 22rem;
}

@media (min-width: 576px) {
  .bg-footer {
    height: 20rem;
    background-image: url('../imgs/bg_footer_d.png');
  }

  .img-bee {
    width: 26rem;
  }
}